@mixin rale
  font-family: 'Raleway', sans-serif
@mixin mons
  font-family: 'Mosnsserat', sans-serif
@mixin robo
  font-family: 'Roboto', sans-serif
  
body 
  background-color: #fff
  color: #000
  font-size: 16px
  font-family: 'Raleway', sans-serif

.container
  margin: auto
  max-width: 1170px

ul, li 
  list-style: none

a
  text-decoration: none
  color: inherit
  outline: none

button
  outline: none